<div data-role="header" data-position="fixed">
    <a id="btnBack" href="#" data-icon="back" data-iconpos="notext">Back</a>
    <h1 id="appName"></h1>
</div>
<div data-role="content" id="messageContent">
</div>
<script id="tmpl-msg" type="text/x-jquery-tmpl">
    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">${recievedOn.toLocaleDateString()}</li>
        <li>
            <p class="customWrap">${message}</p>
            <p><strong>${recievedOn.toLocaleTimeString()}</strong></p>
            <div id="replyOptions"></div>
        </li>
    </ul>
</script>
<script id="tmpl-msg-reply" type="text/x-jquery-tmpl">
    <p>Choose an action  
    {{each replyOptions}}
        <button class="ui-btn btnReply" data-reply="${$value}">${$value}</button>
    {{/each}}              
    </p>
</script>
