<div data-role="header" data-position="fixed">
    <img src="css/images/icon.png" style="float:left" /><h1>Postman</h1>
</div>
<div data-role="content">
    <div id="appGrid">
    </div>
</div>
<div id="message" style="clear:both;display:none"></div>
<script id="tmpl-app-btn" type="text/x-jquery-tmpl">
    <button class="btnApp" data-name="${Name}"
         style="background-color: white ">
        <img src="css/images/${Name}.png" style="float:left" />
        <h2>${Name}</h2>
        <div style="float:right">
        {{if UnreadMessageCount > 0}}
            <span class="ui-li-count ui-body-inherit">${UnreadMessageCount}</span>
        {{else}}<span></span>{{/if}}
            </button>
</script>

