<div data-role="header" data-position="fixed">
    <a id="btnBack" href="#" data-icon="back" data-iconpos="notext">Back</a>
    <h1 id="appName"></h1>
</div>
<div data-role="content" id="msg-listview">
  
</div>
<script id="tmpl-list" type="text/x-jquery-tmpl">
    <ul data-role="listview" data-inset="true">
    </ul>
</script>
<script id="tmpl-list-item" type="text/x-jquery-tmpl">
    <li data-id="${id}" class="btnMsg"><a href="#"  data-id="${id}" >
        <p  data-id="${id}" >${message}</p>       
    </a></li>
</script>
<script id="tmpl-list-divider" type="text/x-jquery-tmpl">
    <li data-role="list-divider">${recievedDate}</li>
</script>

